@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --form-duration: 1s;
  --primary-color: #30336b;
  --seconday-color: #be2edd;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  transition: transform 0.3s ease;
}

nav {
  background-color: var(--primary-color);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  border-right: 2px solid rgba(200, 200, 200, 0.1);
  z-index: 100;
  transform: translateX(-100%);
}

nav .logo {
  padding: 30px;
  text-align: center;
}

nav .logo img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  border-bottom: 2px solid rgba(200, 200, 200, 0.1);
  padding: 20px;
}

nav ul li:first-child {
  border-top: 2px solid rgba(200, 200, 200, 0.1);
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

body.show-nav {
  transform: translateX(200px);
}

header {
  font-size: 130%;
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  padding: 40px 15px;
  position: relative;
}

header h1 {
  margin: 0;
}

header p {
  margin: 30px 0;
}

.toggle {
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  border: 0;
  padding: 8px 12px;
  border-radius: 5px;
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
}

.cta-btn,
input[type="submit"] {
  background-color: var(--seconday-color);
  color: #fff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.cta-btn {
  font-size: 20px;
  padding: 12px 30px;
}

.container {
  padding: 15px;
  margin: 0 auto;
  max-width: 100%;
  width: 800px;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

.modal {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: form-open;
  animation-duration: var(--form-duration);
}

.modal-header {
  background-color: var(--primary-color);
  color: #fff;
  padding: 15px;
}

.modal-header h3 {
  margin: 0;
}

.close {
  background: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  border: 0;
  cursor: pointer;
}

.modal-content {
  padding: 20px;
}

.modal-form div {
  margin: 15px 0;
}

.modal-form label {
  display: block;
  margin-bottom: 5px;
}

.modal-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(200, 200, 200);
  border-radius: 5px;
}

.modal-form input:focus {
  outline: 1px solid #30336b;
}

.modal-container.show-modal {
  display: block;
}

@keyframes form-open {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
